extends ../layouts/default

block content
  .container
    img(src='images/logo.svg')
    h1(align='center') Bienvenido a CIV
    br
    img(src='/images/img_carousel/3.png' alt='New york' style='width:100%;')
